$colors:( blue-turquoise: #13C1D4, white: #FFFFFF, navy-blue: #003963, dark-gray: #3C4A53, orange: #FF6D1B, dark-orange: #CC3013, blue: #155783);
$font-nunito: ('Nunito', sans-serif);
$breakpoint-x-x-large: 1400px;
$breakpoint-x-large: 1200px;
$breakpoint-large: 992px;
$breakpoint-medium: 768px;
$breakpoint-small: 576px;
