@import "_variables.scss";

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: map-get($colors , blue-turquoise);
  position: absolute;
  box-sizing: border-box;
  padding-top: 6rem;

  @include media-max-width($breakpoint-small){
    padding-top: 2rem;
  }
  
  &__logo {
    width: 19rem;
    height: 7rem;
    margin: auto;
    position: relative;
    z-index: 100;

    @include media-max-width($breakpoint-small){
      width: 8.5rem;
      height: 3.5rem;
    }
  }
}

