@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nunito:ital,wght@0,400;0,700;0,800;1,400&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #13C1D4;
  position: absolute;
  box-sizing: border-box;
  padding-top: 6rem;
}
@media (max-width: 576px) {
  .header {
    padding-top: 2rem;
  }
}
.header__logo {
  width: 19rem;
  height: 7rem;
  margin: auto;
  position: relative;
  z-index: 100;
}
@media (max-width: 576px) {
  .header__logo {
    width: 8.5rem;
    height: 3.5rem;
  }
}

.top-section {
  background-color: #13C1D4;
  width: 100%;
  padding-left: 36rem;
  padding-right: 36rem;
  padding-top: 19.5rem;
  padding-bottom: 8.5rem;
  box-sizing: border-box;
  text-align: center;
}
@media (max-width: 1800px) {
  .top-section {
    padding-left: 21.5rem;
    padding-right: 21.5rem;
  }
}
@media (max-width: 1400px) {
  .top-section {
    padding-left: 15.5rem;
    padding-right: 15.5rem;
  }
}
@media (max-width: 1200px) {
  .top-section {
    padding-left: 13rem;
    padding-right: 13rem;
  }
}
@media (max-width: 992px) {
  .top-section {
    padding-left: 7rem;
    padding-right: 7rem;
  }
}
@media (max-width: 768px) {
  .top-section {
    padding-left: 5.5rem;
    padding-right: 5.5rem;
    padding-top: 14.5rem;
  }
}
@media (max-width: 576px) {
  .top-section {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-top: 8rem;
    justify-content: center;
  }
}
.top-section__orange-ball {
  border: solid 1px #EB6A51;
  background: #EB6A51;
  border-radius: 0 0 0 294px;
  width: 23.9rem;
  height: 33.9rem;
  position: absolute;
  top: -197px;
  right: -4px;
}
@media (max-width: 768px) {
  .top-section__orange-ball {
    top: -4rem;
    height: 18.5rem;
    width: 18.5rem;
    right: -0.15rem;
  }
}
@media (max-width: 576px) {
  .top-section__orange-ball {
    top: -4rem;
    height: 12.5rem;
    width: 12.5rem;
  }
}
@media (max-width: 320px) {
  .top-section__orange-ball {
    top: -6.9rem;
  }
}
.top-section .top-block {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  z-index: 100;
}
.top-section .top-block__title {
  font-family: "Nunito", sans-serif;
  color: #FFFFFF;
  font-weight: 800;
  font-size: 3rem;
  line-height: 4rem;
  margin-bottom: 3.5rem;
}
@media (max-width: 1200px) {
  .top-section .top-block__title {
    font-size: 2.5rem;
  }
}
@media (max-width: 576px) {
  .top-section .top-block__title {
    font-size: 1.7rem;
    line-height: 2.4rem;
    margin-bottom: 2rem;
  }
}
.top-section .top-block__text {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
  font-size: 1.1rem;
  color: #3C4A53;
  text-align: center;
  margin-bottom: 2.85rem;
}
@media (max-width: 1400px) {
  .top-section .top-block__text {
    font-size: 1rem;
  }
}
@media (max-width: 576px) {
  .top-section .top-block__text {
    font-size: 0.9rem;
    line-height: 1.4rem;
    text-align: center;
  }
}
.top-section .top-block .top_buttons {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 992px) {
  .top-section .top-block .top_buttons {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .top-section .top-block .top_buttons {
    justify-content: center;
  }
}
.top-section .top-block .top_buttons .orange-button {
  width: 16.9rem;
  height: 4.4rem;
  border-radius: 1.25rem;
  background: #FF6D1B;
  border: #FF6D1B;
  margin-right: 2rem;
}
@media (max-width: 1200px) {
  .top-section .top-block .top_buttons .orange-button {
    width: 20rem;
  }
}
@media (max-width: 992px) {
  .top-section .top-block .top_buttons .orange-button {
    margin-right: 0;
    margin-bottom: 1.35rem;
    width: 40rem;
  }
}
@media (max-width: 768px) {
  .top-section .top-block .top_buttons .orange-button {
    padding-left: 0.95rem;
  }
}
@media (max-width: 576px) {
  .top-section .top-block .top_buttons .orange-button {
    height: 3.6rem;
  }
}
.top-section .top-block .top_buttons .orange-button:hover, .top-section .top-block .top_buttons .orange-button:active {
  background: #CC3013;
  border-color: #CC3013;
}
.top-section .top-block .top_buttons .orange-button__text {
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  font-size: 1.15rem;
  line-height: 1.8rem;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (max-width: 1400px) {
  .top-section .top-block .top_buttons .orange-button__text {
    font-size: 1rem;
  }
}
@media (max-width: 576px) {
  .top-section .top-block .top_buttons .orange-button__text {
    font-size: 0.9rem;
    line-height: 1.4rem;
    text-align: center;
  }
}
.top-section .top-block .top_buttons .tranparent-button {
  width: 29.4rem;
  height: 4.4rem;
  border-radius: 1.25rem;
  border: solid 2px #FFFFFF;
  background: #13C1D4;
}
@media (max-width: 1200px) {
  .top-section .top-block .top_buttons .tranparent-button {
    width: 35rem;
  }
}
@media (max-width: 992px) {
  .top-section .top-block .top_buttons .tranparent-button {
    width: 40rem;
  }
}
@media (max-width: 576px) {
  .top-section .top-block .top_buttons .tranparent-button {
    height: 4.65rem;
  }
}
.top-section .top-block .top_buttons .tranparent-button:hover, .top-section .top-block .top_buttons .tranparent-button:active {
  background: #155783;
  border-color: #FFFFFF;
}
.top-section .top-block .top_buttons .tranparent-button__text {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 1.15rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (max-width: 1400px) {
  .top-section .top-block .top_buttons .tranparent-button__text {
    font-size: 1rem;
  }
}
@media (max-width: 576px) {
  .top-section .top-block .top_buttons .tranparent-button__text {
    font-size: 0.9rem;
    line-height: 1.2rem;
    text-align: center;
  }
}
.top-section__blue-ball {
  border: solid 1px #155783;
  background: #155783;
  border-radius: 50%;
  width: 23rem;
  height: 23rem;
  position: absolute;
  top: 21.4rem;
  left: -9.7rem;
}
@media (max-width: 768px) {
  .top-section__blue-ball {
    height: 16.5rem;
    width: 18.5rem;
    left: -8.6rem;
    top: 13.4rem;
  }
}
@media (max-width: 576px) {
  .top-section__blue-ball {
    height: 9.5rem;
    width: 9.5rem;
    left: -3.6rem;
    top: 13.4rem;
  }
}
.top-section__vacuum-man {
  width: 38rem;
  height: 35.5rem;
  position: absolute;
  left: 8.3rem;
  top: 21.4rem;
}
@media (max-width: 1400px) {
  .top-section__vacuum-man {
    left: 4rem;
  }
}
@media (max-width: 576px) {
  .top-section__vacuum-man {
    height: 20rem;
    width: 20.85rem;
    left: 0.3rem;
    top: 39.7rem;
  }
}
@media (max-width: 320px) {
  .top-section__vacuum-man {
    top: 47.7rem;
  }
}

.info-section {
  background-color: #E5E5E5;
  width: 100%;
  padding-left: 23.5rem;
  padding-right: 23.5rem;
  padding-top: 7.5rem;
  box-sizing: border-box;
}
@media (max-width: 1800px) {
  .info-section {
    padding-left: 16.1rem;
    padding-right: 16.1rem;
  }
}
@media (max-width: 1400px) {
  .info-section {
    padding-left: 15.5rem;
    padding-right: 15.5rem;
  }
}
@media (max-width: 1200px) {
  .info-section {
    padding-left: 13rem;
    padding-right: 13rem;
  }
}
@media (max-width: 992px) {
  .info-section {
    padding-left: 9rem;
    padding-right: 9rem;
  }
}
@media (max-width: 768px) {
  .info-section {
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 2.3rem;
  }
}
@media (max-width: 576px) {
  .info-section {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media (max-width: 320px) {
  .info-section {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}
.info-section .info-text {
  margin-top: 2.5rem;
  text-align: center;
}
.info-section .info-text__title {
  font-family: "Nunito", sans-serif;
  color: #0D5682;
  font-weight: 800;
  font-size: 3rem;
  line-height: 4.1rem;
  margin-bottom: 3.2rem;
  text-align: center;
}
@media (max-width: 1200px) {
  .info-section .info-text__title {
    font-size: 2.4rem;
  }
}
@media (max-width: 576px) {
  .info-section .info-text__title {
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin-bottom: 2rem;
  }
}
.info-section .info-text .info-text__subtitle {
  font-family: "Nunito", sans-serif;
  color: #3C4A53;
  font-weight: 400;
  font-size: 1.15rem;
  line-height: 1.5rem;
  margin-bottom: 7.5rem;
}
@media (max-width: 1400px) {
  .info-section .info-text .info-text__subtitle {
    font-size: 1rem;
  }
}
@media (max-width: 576px) {
  .info-section .info-text .info-text__subtitle {
    font-size: 0.8rem;
    line-height: 1.4rem;
    margin-bottom: 3.15rem;
  }
}
.info-section__services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media (max-width: 576px) {
  .info-section__services {
    flex-direction: column;
    align-content: center;
  }
}
.info-section__services .info {
  width: 16.9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 11.1rem;
}
@media (max-width: 576px) {
  .info-section__services .info {
    margin-bottom: 3.8rem;
    flex-wrap: wrap;
  }
}
.info-section__services .info__img-repairs {
  width: 6.95rem;
  height: 6.95rem;
}
.info-section__services .info__img-sm-repairs {
  width: 6.15rem;
  height: 6.15rem;
}
.info-section__services .info__img-cleaner {
  width: 5.45rem;
  height: 5.45rem;
}
.info-section__services .info__img-chothes {
  width: 6.1rem;
  height: 6.1rem;
}
.info-section__services .info__img-painting {
  width: 7.5rem;
  height: 7.5rem;
}
.info-section__services .info__img-electrician {
  width: 5.95rem;
  height: 5.95rem;
}
.info-section__services .info__img-plumber {
  width: 6.65rem;
  height: 6.65rem;
}
.info-section__services .info__img-furtiture {
  width: 6.1rem;
  height: 6.1rem;
}
.info-section__services .info .info__sub-title {
  font-family: "Nunito", sans-serif;
  color: #0D5682;
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 1.01rem;
  text-align: center;
  width: 100%;
}
@media (max-width: 576px) {
  .info-section__services .info .info__sub-title {
    width: 11.3rem;
  }
}

.register-section {
  background: linear-gradient(180deg, #003963 0%, #155783 100%);
  width: 100%;
  padding-left: 17.1rem;
  padding-right: 15.8rem;
  padding-top: 9.2rem;
  padding-bottom: 11.3rem;
  box-sizing: border-box;
}
@media (max-width: 1800px) {
  .register-section {
    padding-left: 14.1rem;
    padding-right: 13.1rem;
  }
}
@media (max-width: 1400px) {
  .register-section {
    padding-left: 15.5rem;
    padding-right: 15.5rem;
  }
}
@media (max-width: 1200px) {
  .register-section {
    padding-left: 13rem;
    padding-right: 13rem;
  }
}
@media (max-width: 992px) {
  .register-section {
    padding-left: 9rem;
    padding-right: 9rem;
    padding-bottom: 5.3rem;
  }
}
@media (max-width: 768px) {
  .register-section {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
@media (max-width: 576px) {
  .register-section {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media (max-width: 320px) {
  .register-section {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}
.register-section__orange-circle {
  border: solid 1px #EB6A51;
  background: #EB6A51;
  border-radius: 13.45rem 13.45rem 13.45rem 13.45rem;
  width: 13.45rem;
  height: 13.45rem;
  margin-left: -10.35rem;
  margin-top: -15.8rem;
}
@media (max-width: 1800px) {
  .register-section__orange-circle {
    margin-left: -20rem;
  }
}
@media (max-width: 1200px) {
  .register-section__orange-circle {
    width: 11.9rem;
    height: 11.9rem;
    margin-left: -15.65rem;
    margin-top: -15.65rem;
  }
}
@media (max-width: 992px) {
  .register-section__orange-circle {
    margin-left: -11.3rem;
  }
}
@media (max-width: 576px) {
  .register-section__orange-circle {
    width: 6.3rem;
    height: 6.3rem;
    margin-left: -5.9rem;
    margin-top: -12.2rem;
  }
}
.register-section .register-services {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 1400px) {
  .register-section .register-services {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.register-section .register-services .register {
  background: #F4F9FF;
  width: 35.65rem;
  height: 31.45rem;
  border-radius: 9%;
  display: flex;
  z-index: 100;
  box-sizing: border-box;
}
@media (max-width: 1800px) {
  .register-section .register-services .register {
    margin-bottom: 1.9rem;
    margin-right: 1.9rem;
    width: 30.4rem;
  }
}
@media (max-width: 768px) {
  .register-section .register-services .register {
    width: 29.4rem;
    margin-right: 0;
  }
}
@media (max-width: 576px) {
  .register-section .register-services .register {
    width: 16.9rem;
    height: 23.4rem;
  }
}
.register-section .register-services .register__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-left: 2.2rem;
  padding-right: 2.2rem;
  padding-bottom: 2.2rem;
}
@media (max-width: 768px) {
  .register-section .register-services .register__container {
    padding: 1.5rem;
  }
}
@media (max-width: 576px) {
  .register-section .register-services .register__container {
    padding: 1rem;
  }
}
.register-section .register-services .register__container .register__title {
  font-family: "Nunito", sans-serif;
  color: #0D5682;
  font-weight: 800;
  font-size: 3rem;
  line-height: 4.1rem;
  margin-top: 3.35rem;
  text-align: center;
}
@media (max-width: 768px) {
  .register-section .register-services .register__container .register__title {
    margin-top: 1.9rem;
    font-size: 2.1rem;
  }
}
@media (max-width: 576px) {
  .register-section .register-services .register__container .register__title {
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin-top: 1.4rem;
  }
}
.register-section .register-services .register__container .register__subtitle {
  font-family: "Nunito", sans-serif;
  color: #3C4A53;
  font-weight: 400;
  font-size: 1.15rem;
  line-height: 1.5rem;
  text-align: center;
}
@media (max-width: 576px) {
  .register-section .register-services .register__container .register__subtitle {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
}
.register-section .register-services .register__container .text--bold {
  font-family: "Nunito", sans-serif;
  color: #3C4A53;
  font-weight: 800;
  font-size: 18px;
  line-height: 24.55px;
}
.register-section .register-services .register__container .text--blue {
  font-family: "Nunito", sans-serif;
  color: #0074C9;
  font-weight: 400;
  font-size: 1.15rem;
  line-height: 1.35rem;
  margin-top: 1.15rem;
}
.register-section .register-services .register__container .text--blue:hover, .register-section .register-services .register__container .text--blue:active {
  color: #011E33;
}
.register-section .register-services .register__container .vertical-row {
  border: 1px solid #0074C9;
  width: 10.4rem;
  margin-bottom: 2.7rem;
}
.register-section .register-services .register__container .vertical-row:hover, .register-section .register-services .register__container .vertical-row:active {
  border: #011E33;
}
@media (max-width: 576px) {
  .register-section .register-services .register__container .vertical-row {
    margin-bottom: 0.9rem;
  }
}
.register-section .register-services .register__container .register__orange-btn {
  width: 16.9rem;
  height: 4.4rem;
  border-radius: 1.25rem;
  background: #FF6D1B;
  border: #FF6D1B;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-section .register-services .register__container .register__orange-btn:hover, .register-section .register-services .register__container .register__orange-btn:active {
  background: #CC3013;
  border-color: #CC3013;
}
@media (max-width: 1800px) {
  .register-section .register-services .register__container .register__orange-btn {
    width: 25.4rem;
  }
}
@media (max-width: 768px) {
  .register-section .register-services .register__container .register__orange-btn {
    height: 4.1rem;
  }
}
@media (max-width: 576px) {
  .register-section .register-services .register__container .register__orange-btn {
    width: 15rem;
    height: 3.65rem;
    border-radius: 0.8rem;
  }
}
.register-section .register-services .register__container .register__orange-btn .register__text-btn {
  font-family: "Nunito", sans-serif;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 1.15rem;
  line-height: 1.8rem;
  text-transform: uppercase;
}
@media (max-width: 576px) {
  .register-section .register-services .register__container .register__orange-btn .register__text-btn {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }
}
.register-section .register-services .register__container .register__transparent-btn {
  width: 28.4rem;
  height: 4.4rem;
  border-radius: 1.25rem;
  border: solid 2px #0D5682;
  background: #F4F9FF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-section .register-services .register__container .register__transparent-btn:hover, .register-section .register-services .register__container .register__transparent-btn:active {
  background: #0D5682;
  border-color: #155783;
}
@media (max-width: 1800px) {
  .register-section .register-services .register__container .register__transparent-btn {
    width: 25.4rem;
  }
}
@media (max-width: 768px) {
  .register-section .register-services .register__container .register__transparent-btn {
    height: 6rem;
  }
}
@media (max-width: 576px) {
  .register-section .register-services .register__container .register__transparent-btn {
    width: 15rem;
    border-radius: 0.8rem;
  }
}
.register-section .register-services .register__container .register__transparent-btn .register__text-transparent-btn {
  font-family: "Nunito", sans-serif;
  color: #0D5682;
  font-weight: 800;
  font-size: 1.15rem;
  line-height: 1.8rem;
  text-align: center;
  text-transform: uppercase;
}
.register-section .register-services .register__container .register__transparent-btn .register__text-transparent-btn:hover, .register-section .register-services .register__container .register__transparent-btn .register__text-transparent-btn:active {
  color: #FFFFFF;
}
@media (max-width: 576px) {
  .register-section .register-services .register__container .register__transparent-btn .register__text-transparent-btn {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }
}
.register-section .register-services .blue-circle {
  width: 29.3rem;
  height: 29.3rem;
  border: solid 1px #13C1D4;
  background: #13C1D4;
  border-radius: 50%;
  position: absolute;
  margin-top: 6rem;
  right: 1.4rem;
}
@media (max-width: 1400px) {
  .register-section .register-services .blue-circle {
    margin-top: 33rem;
  }
}
@media (max-width: 1200px) {
  .register-section .register-services .blue-circle {
    margin-top: 37rem;
  }
}
@media (max-width: 576px) {
  .register-section .register-services .blue-circle {
    width: 8.4rem;
    height: 17.7rem;
    right: 0px;
    border-radius: 20.7rem 0 0 20.7rem;
  }
}

.services-section {
  background-color: #E5E5E5;
  width: 100%;
  padding-left: 29.7rem;
  padding-right: 29.7rem;
  padding-top: 7.5rem;
  padding-bottom: 8.8rem;
  box-sizing: border-box;
}
@media (max-width: 1800px) {
  .services-section {
    padding-left: 14.1rem;
    padding-right: 13.1rem;
  }
}
@media (max-width: 1400px) {
  .services-section {
    padding-left: 15.5rem;
    padding-right: 15.5rem;
  }
}
@media (max-width: 1200px) {
  .services-section {
    padding-left: 12rem;
    padding-right: 12rem;
  }
}
@media (max-width: 992px) {
  .services-section {
    padding-left: 9rem;
    padding-right: 9rem;
    padding-bottom: 5.3rem;
  }
}
@media (max-width: 768px) {
  .services-section {
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 2.3rem;
  }
}
@media (max-width: 576px) {
  .services-section {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media (max-width: 320px) {
  .services-section {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}
.services-section__block {
  display: flex;
  flex-direction: column;
}
.services-section__block .services {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 2.5rem;
}
.services-section__block .services__title {
  font-family: "Nunito", sans-serif;
  color: #0D5682;
  font-weight: 800;
  font-size: 3rem;
  line-height: 4.1rem;
  text-align: center;
  margin-bottom: 3.2rem;
}
@media (max-width: 768px) {
  .services-section__block .services__title {
    font-size: 2.1rem;
  }
}
@media (max-width: 576px) {
  .services-section__block .services__title {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
}
.services-section__block .services__subtitle {
  font-family: "Nunito", sans-serif;
  color: #3C4A53;
  font-weight: 400;
  font-size: 1.15rem;
  line-height: 1.5rem;
  text-align: center;
}
@media (max-width: 576px) {
  .services-section__block .services__subtitle {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
}
.services-section__block .services__subtitle--bold {
  font-family: "Nunito", sans-serif;
  color: #3C4A53;
  font-weight: 800;
  font-size: 1.15rem;
  line-height: 1.5rem;
}
@media (max-width: 576px) {
  .services-section__block .services__subtitle--bold {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
}
.services-section .services-section__block-numbers {
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
}
@media (max-width: 1200px) {
  .services-section .services-section__block-numbers {
    flex-wrap: wrap;
  }
}
@media (max-width: 992px) {
  .services-section .services-section__block-numbers {
    justify-content: center;
  }
}
.services-section .services-section__block-numbers .block-numbers {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 17.3rem;
  align-items: center;
  margin-right: 1.9rem;
}
.services-section .services-section__block-numbers .block-numbers__img-numbers {
  width: 2.8rem;
  height: 6.15rem;
}
@media (max-width: 576px) {
  .services-section .services-section__block-numbers .block-numbers__img-numbers {
    width: 1.85rem;
    height: 4.1rem;
  }
}
.services-section .services-section__block-numbers .block-numbers__text--orange {
  font-family: "Nunito", sans-serif;
  color: #EB6A51;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  height: 100%;
  margin-top: 0.95rem;
}
@media (max-width: 576px) {
  .services-section .services-section__block-numbers .block-numbers__text--orange {
    font-size: 1.3rem;
    line-height: 1.7rem;
  }
}
.services-section .services__arrow {
  width: 1.7rem;
  height: 2.2rem;
}
@media (max-width: 1200px) {
  .services-section .services__arrow {
    display: none;
  }
}
.services-section__buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
}
@media (max-width: 992px) {
  .services-section__buttons {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .services-section__buttons {
    justify-content: center;
  }
}
.services-section__buttons .services-button__orange {
  width: 16.9rem;
  height: 4.4rem;
  border-radius: 1.25rem;
  background: #FF6D1B;
  border: #FF6D1B;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}
@media (max-width: 1200px) {
  .services-section__buttons .services-button__orange {
    width: 20rem;
  }
}
@media (max-width: 992px) {
  .services-section__buttons .services-button__orange {
    margin-right: 0;
    margin-bottom: 1.35rem;
    width: 40rem;
  }
}
@media (max-width: 768px) {
  .services-section__buttons .services-button__orange {
    padding-left: 0.95rem;
  }
}
@media (max-width: 576px) {
  .services-section__buttons .services-button__orange {
    height: 3.6rem;
  }
}
.services-section__buttons .services-button__orange:hover, .services-section__buttons .services-button__orange:active {
  background: #CC3013;
  border-color: #CC3013;
}
.services-section__buttons .services-button__orange .services-button__text-orange {
  font-family: "Nunito", sans-serif;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 1.15rem;
  line-height: 1.8rem;
  text-transform: uppercase;
}
@media (max-width: 1400px) {
  .services-section__buttons .services-button__orange .services-button__text-orange {
    font-size: 1rem;
  }
}
@media (max-width: 576px) {
  .services-section__buttons .services-button__orange .services-button__text-orange {
    font-size: 0.9rem;
    line-height: 1.4rem;
    text-align: center;
  }
}
.services-section__buttons .services-button__tranparent {
  width: 28.4rem;
  height: 4.4rem;
  border-radius: 1.25rem;
  border: solid 2px #0D5682;
  background: #F4F9FF;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1200px) {
  .services-section__buttons .services-button__tranparent {
    width: 35rem;
  }
}
@media (max-width: 992px) {
  .services-section__buttons .services-button__tranparent {
    width: 40rem;
  }
}
@media (max-width: 576px) {
  .services-section__buttons .services-button__tranparent {
    height: 4.65rem;
  }
}
.services-section__buttons .services-button__tranparent:hover, .services-section__buttons .services-button__tranparent:active {
  background: #0D5682;
  border-color: #155783;
}
.services-section__buttons .services-button__tranparent .services-button__text-transparent {
  font-family: "Nunito", sans-serif;
  color: #0D5682;
  font-weight: 800;
  font-size: 1.15rem;
  line-height: 1.8rem;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 1400px) {
  .services-section__buttons .services-button__tranparent .services-button__text-transparent {
    font-size: 1rem;
  }
}
@media (max-width: 576px) {
  .services-section__buttons .services-button__tranparent .services-button__text-transparent {
    font-size: 0.9rem;
    line-height: 1.2rem;
    text-align: center;
  }
}
.services-section__buttons .services-button__tranparent .services-button__text-transparent:hover, .services-section__buttons .services-button__tranparent .services-button__text-transparent:active {
  color: #E5E5E5;
}/*# sourceMappingURL=index.css.map */