.register-section {
  background: linear-gradient(180deg, #003963 0%, #155783 100%);
  width: 100%;
  padding: 7.5rem 25rem 6.6rem 25rem;
  box-sizing: border-box;
}
@media (max-width: 1800px) {
  .register-section {
    padding-left: 20.5rem;
    padding-right: 18.5rem;
  }
}
@media (max-width: 1400px) {
  .register-section {
    padding-left: 15.5rem;
    padding-right: 15.5rem;
  }
}
@media (max-width: 1200px) {
  .register-section {
    padding-left: 13rem;
    padding-right: 13rem;
  }
}
@media (max-width: 992px) {
  .register-section {
    padding-left: 7rem;
    padding-right: 7rem;
  }
}
@media (max-width: 768px) {
  .register-section {
    padding-left: 5.5rem;
    padding-right: 5.5rem;
  }
}
@media (max-width: 576px) {
  .register-section {
    padding-left: 3rem;
    padding-right: 3rem;
    justify-content: center;
  }
}
.register-section__orange-circle {
  border: solid 1px #EB6A51;
  background: #EB6A51;
  border-radius: 13.45rem 13.45rem 13.45rem 13.45rem;
  width: 13.45rem;
  height: 13.45rem;
  margin-left: -17.35rem;
  margin-top: -15.8rem;
}
@media (max-width: 1400px) {
  .register-section__orange-circle {
    margin-left: -20rem;
    margin-top: -15rem;
  }
}
@media (max-width: 1200px) {
  .register-section__orange-circle {
    width: 11.9rem;
    height: 11.9rem;
    margin-left: -10.65rem;
    margin-top: -13.65rem;
  }
}
@media (max-width: 992px) {
  .register-section__orange-circle {
    margin-left: -11.3rem;
  }
}
@media (max-width: 576px) {
  .register-section__orange-circle {
    width: 6.3rem;
    height: 6.3rem;
    margin-left: -5.9rem;
    margin-top: -11.2rem;
  }
}
.register-section .register-services {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 1800px) {
  .register-section .register-services {
    justify-content: center;
  }
}
@media (max-width: 1400px) {
  .register-section .register-services {
    flex-wrap: wrap;
  }
}
.register-section .register-services .register {
  background: #F4F9FF;
  width: 35.65rem;
  height: 31.45rem;
  border-radius: 9%;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  box-sizing: border-box;
  margin-left: 30px;
}
@media (max-width: 1800px) {
  .register-section .register-services .register {
    margin-bottom: 1.9rem;
    margin-right: 1.9rem;
    width: 30.4rem;
  }
}
@media (max-width: 768px) {
  .register-section .register-services .register {
    width: 29.4rem;
    margin-right: 0;
  }
}
@media (max-width: 576px) {
  .register-section .register-services .register {
    width: 16.9rem;
    height: 23.4rem;
    margin-left: 0;
  }
}
.register-section .register-services .register__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-left: 2.2rem;
  padding-right: 2.2rem;
  padding-bottom: 2.2rem;
}
@media (max-width: 768px) {
  .register-section .register-services .register__container {
    padding: 1.5rem;
  }
}
@media (max-width: 576px) {
  .register-section .register-services .register__container {
    padding: 1rem;
  }
}
.register-section .register-services .register__container .register__title {
  font-family: "Nunito", sans-serif;
  color: #0D5682;
  font-weight: 800;
  font-size: 3rem;
  line-height: 4.1rem;
  margin-top: 3.35rem;
  text-align: center;
}
@media (max-width: 768px) {
  .register-section .register-services .register__container .register__title {
    margin-top: 1.9rem;
    font-size: 2.1rem;
  }
}
@media (max-width: 576px) {
  .register-section .register-services .register__container .register__title {
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin-top: 1.4rem;
  }
}
.register-section .register-services .register__container .register__subtitle {
  font-family: "Nunito", sans-serif;
  color: #3C4A53;
  font-weight: 400;
  font-size: 1.15rem;
  line-height: 1.5rem;
  text-align: center;
}
@media (max-width: 576px) {
  .register-section .register-services .register__container .register__subtitle {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
}
.register-section .register-services .register__container .text--bold {
  font-family: "Nunito", sans-serif;
  color: #3C4A53;
  font-weight: 800;
  font-size: 18px;
  line-height: 24.55px;
}
.register-section .register-services .register__container .text--blue {
  font-family: "Nunito", sans-serif;
  color: #0074C9;
  font-weight: 400;
  font-size: 1.15rem;
  line-height: 1.35rem;
  margin-top: 1.15rem;
}
.register-section .register-services .register__container .text--blue:hover, .register-section .register-services .register__container .text--blue:active {
  color: #011E33;
}
.register-section .register-services .register__container .vertical-row {
  border: 1px solid #0074C9;
  width: 10.4rem;
  margin-bottom: 2.7rem;
}
.register-section .register-services .register__container .vertical-row:hover, .register-section .register-services .register__container .vertical-row:active {
  border: #011E33;
}
@media (max-width: 576px) {
  .register-section .register-services .register__container .vertical-row {
    margin-bottom: 0.9rem;
  }
}
.register-section .register-services .register__container .register__orange-btn {
  width: 16.9rem;
  height: 4.4rem;
  border-radius: 1.25rem;
  background: #FF6D1B;
  border: #FF6D1B;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-section .register-services .register__container .register__orange-btn:hover, .register-section .register-services .register__container .register__orange-btn:active {
  background: #CC3013;
  border-color: #CC3013;
}
@media (max-width: 1800px) {
  .register-section .register-services .register__container .register__orange-btn {
    width: 25.4rem;
  }
}
@media (max-width: 768px) {
  .register-section .register-services .register__container .register__orange-btn {
    height: 4.1rem;
  }
}
@media (max-width: 576px) {
  .register-section .register-services .register__container .register__orange-btn {
    width: 15rem;
    height: 3.65rem;
    border-radius: 0.8rem;
  }
}
.register-section .register-services .register__container .register__orange-btn .register__text-btn {
  font-family: "Nunito", sans-serif;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 1.15rem;
  line-height: 1.8rem;
  text-transform: uppercase;
}
@media (max-width: 576px) {
  .register-section .register-services .register__container .register__orange-btn .register__text-btn {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }
}
.register-section .register-services .register__container .register__transparent-btn {
  width: 28.4rem;
  height: 4.4rem;
  border-radius: 1.25rem;
  border: solid 2px #0D5682;
  background: #F4F9FF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-section .register-services .register__container .register__transparent-btn:hover, .register-section .register-services .register__container .register__transparent-btn:active {
  background: #0D5682;
  border-color: #155783;
}
@media (max-width: 1800px) {
  .register-section .register-services .register__container .register__transparent-btn {
    width: 25.4rem;
  }
}
@media (max-width: 768px) {
  .register-section .register-services .register__container .register__transparent-btn {
    height: 6rem;
  }
}
@media (max-width: 576px) {
  .register-section .register-services .register__container .register__transparent-btn {
    width: 15rem;
    border-radius: 0.8rem;
  }
}
.register-section .register-services .register__container .register__transparent-btn .register__text-transparent-btn {
  font-family: "Nunito", sans-serif;
  color: #0D5682;
  font-weight: 800;
  font-size: 1.15rem;
  line-height: 1.8rem;
  text-align: center;
  text-transform: uppercase;
}
.register-section .register-services .register__container .register__transparent-btn .register__text-transparent-btn:hover, .register-section .register-services .register__container .register__transparent-btn .register__text-transparent-btn:active {
  color: #FFFFFF;
}
@media (max-width: 576px) {
  .register-section .register-services .register__container .register__transparent-btn .register__text-transparent-btn {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }
}
.register-section .register-services .blue-circle {
  width: 29.3rem;
  height: 29.3rem;
  border: solid 1px #13C1D4;
  background: #13C1D4;
  border-radius: 50%;
  position: absolute;
  margin-top: 6rem;
  right: 1.4rem;
}
@media (max-width: 1400px) {
  .register-section .register-services .blue-circle {
    margin-top: 33rem;
  }
}
@media (max-width: 1200px) {
  .register-section .register-services .blue-circle {
    margin-top: 37rem;
  }
}
@media (max-width: 576px) {
  .register-section .register-services .blue-circle {
    width: 8.4rem;
    height: 17.7rem;
    right: 0px;
    border-radius: 20.7rem 0 0 20.7rem;
  }
}/*# sourceMappingURL=register-section.css.map */