.top-section {
  background-color: #13C1D4;
  width: 100%;
  padding: 18.8rem 33rem 8.8rem 32rem;
  box-sizing: border-box;
  text-align: center;
}
@media (max-width: 1800px) {
  .top-section {
    padding-left: 20.5rem;
    padding-right: 18.5rem;
    padding-top: 14rem;
  }
}
@media (max-width: 1400px) {
  .top-section {
    padding-left: 15.5rem;
    padding-right: 15.5rem;
  }
}
@media (max-width: 1200px) {
  .top-section {
    padding-left: 13rem;
    padding-right: 13rem;
    padding-top: 14rem;
  }
}
@media (max-width: 992px) {
  .top-section {
    padding-left: 7rem;
    padding-right: 7rem;
  }
}
@media (max-width: 768px) {
  .top-section {
    padding-left: 5.5rem;
    padding-right: 5.5rem;
    padding-top: 14rem;
  }
}
@media (max-width: 576px) {
  .top-section {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 8rem;
    justify-content: center;
  }
}
.top-section__orange-ball {
  border: solid 1px #EB6A51;
  background: #EB6A51;
  border-radius: 0 0 0 294px;
  width: 23.9rem;
  height: 33.9rem;
  position: absolute;
  top: -197px;
  right: 0;
}
@media (max-width: 768px) {
  .top-section__orange-ball {
    top: -4rem;
    height: 18.5rem;
    width: 18.5rem;
  }
}
@media (max-width: 576px) {
  .top-section__orange-ball {
    top: -4rem;
    height: 12.5rem;
    width: 12.5rem;
  }
}
@media (max-width: 320px) {
  .top-section__orange-ball {
    top: -6.9rem;
  }
}
.top-section .top-block {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  z-index: 100;
}
.top-section .top-block__title {
  font-family: "Nunito", sans-serif;
  color: #FFFFFF;
  font-weight: 800;
  font-size: 3rem;
  line-height: 4rem;
  margin-bottom: 3.5rem;
}
@media (max-width: 1200px) {
  .top-section .top-block__title {
    font-size: 2.5rem;
  }
}
@media (max-width: 576px) {
  .top-section .top-block__title {
    font-size: 1.7rem;
    line-height: 2.4rem;
    margin-bottom: 2rem;
  }
}
.top-section .top-block__text {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
  font-size: 1.1rem;
  color: #3C4A53;
  text-align: center;
  margin-bottom: 2.85rem;
}
@media (max-width: 1400px) {
  .top-section .top-block__text {
    font-size: 1rem;
  }
}
@media (max-width: 576px) {
  .top-section .top-block__text {
    font-size: 0.9rem;
    line-height: 1.4rem;
    text-align: center;
  }
}
.top-section .top-block .top_buttons {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 992px) {
  .top-section .top-block .top_buttons {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .top-section .top-block .top_buttons {
    justify-content: center;
  }
}
.top-section .top-block .top_buttons .orange-button {
  width: 16.9rem;
  height: 4.4rem;
  border-radius: 1.25rem;
  background: #FF6D1B;
  border: #FF6D1B;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}
@media (max-width: 1200px) {
  .top-section .top-block .top_buttons .orange-button {
    width: 20rem;
  }
}
@media (max-width: 992px) {
  .top-section .top-block .top_buttons .orange-button {
    margin-right: 0;
    margin-bottom: 1.35rem;
    width: 40rem;
  }
}
@media (max-width: 768px) {
  .top-section .top-block .top_buttons .orange-button {
    padding-left: 0.95rem;
  }
}
@media (max-width: 576px) {
  .top-section .top-block .top_buttons .orange-button {
    height: 3.6rem;
  }
}
.top-section .top-block .top_buttons .orange-button:hover, .top-section .top-block .top_buttons .orange-button:active {
  background: #CC3013;
  border-color: #CC3013;
}
.top-section .top-block .top_buttons .orange-button__text {
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  font-size: 1.15rem;
  line-height: 1.8rem;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (max-width: 1400px) {
  .top-section .top-block .top_buttons .orange-button__text {
    font-size: 1rem;
  }
}
@media (max-width: 576px) {
  .top-section .top-block .top_buttons .orange-button__text {
    font-size: 0.9rem;
    line-height: 1.4rem;
    text-align: center;
  }
}
.top-section .top-block .top_buttons .tranparent-button {
  width: 28.4rem;
  height: 4.4rem;
  border-radius: 1.25rem;
  border: solid 2px #FFFFFF;
  background: #13C1D4;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1200px) {
  .top-section .top-block .top_buttons .tranparent-button {
    width: 35rem;
  }
}
@media (max-width: 992px) {
  .top-section .top-block .top_buttons .tranparent-button {
    width: 40rem;
  }
}
@media (max-width: 576px) {
  .top-section .top-block .top_buttons .tranparent-button {
    height: 4.65rem;
  }
}
.top-section .top-block .top_buttons .tranparent-button:hover, .top-section .top-block .top_buttons .tranparent-button:active {
  background: #155783;
  border-color: #FFFFFF;
}
.top-section .top-block .top_buttons .tranparent-button__text {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 1.15rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (max-width: 1400px) {
  .top-section .top-block .top_buttons .tranparent-button__text {
    font-size: 1rem;
  }
}
@media (max-width: 576px) {
  .top-section .top-block .top_buttons .tranparent-button__text {
    font-size: 0.9rem;
    line-height: 1.2rem;
    text-align: center;
  }
}
.top-section__blue-ball {
  border: solid 1px #155783;
  background: #155783;
  border-radius: 50%;
  width: 23rem;
  height: 23rem;
  position: absolute;
  top: 16.4rem;
  left: -9.7rem;
}
@media (max-width: 768px) {
  .top-section__blue-ball {
    height: 16.5rem;
    width: 18.5rem;
    left: -8.6rem;
    top: 13.4rem;
  }
}
@media (max-width: 576px) {
  .top-section__blue-ball {
    height: 9.5rem;
    width: 9.5rem;
    left: -3.6rem;
    top: 13.4rem;
  }
}
.top-section__vacuum-man {
  width: 38rem;
  height: 35.5rem;
  position: absolute;
  left: 8.3rem;
  top: 21.4rem;
}
@media (max-width: 1400px) {
  .top-section__vacuum-man {
    left: 4rem;
  }
}
@media (max-width: 576px) {
  .top-section__vacuum-man {
    height: 20rem;
    width: 20.85rem;
    left: 0.3rem;
    top: 39.7rem;
  }
}
@media (max-width: 320px) {
  .top-section__vacuum-man {
    top: 47.7rem;
  }
}/*# sourceMappingURL=top-section.css.map */